@font-face {
  font-family: "Lazy";
  src: url("../Tipos-de-letras/Lazy.otf")
  format('truetype');
  font-style: bold;
  font-weight: bold;
} 
html {
  text-align: center;
}
body {
  color: #ffffff;
  margin-top: 5cm;
  background-repeat: no-repeat;
  background-size: cover;

}
.input {
  font-size: 24px;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus, input:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #ffffff;
}

.input::placeholder {
  color: rgb(255, 255, 255);
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
}
button {
padding: 1.3em 3em;
font-size: 12px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: #000;
background-color: #fff;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
}

button:hover {
background-color: #000000;
box-shadow: 0px 15px 20px rgba(44, 45, 45, 0.4);
color: #fff;
transform: translateY(-7px);
}

button:active {
transform: translateY(-1px);
}
img{
  display:block;
  margin:auto;
  }
h1 {
  text-align: left;
  margin-top: 1cm;
}
#nombre {
  font-family: "Lazy";
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  margin-top: 1cm;
}